@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

#main-header {
    font-family: 'Great Vibes', cursive;
}
#main_home_pic {
    font-family: 'Great Vibes', cursive;
}
#sec_home_pic {
    font-family: 'Great Vibes', cursive;
}